.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Merriweather', sans-serif ;
    width: 388px;
    height: 64px;
    text-decoration: none;
    margin-top: 44.5px;
    color: #080C71;
    font-size: 30px;
    border-radius: 15px;
    font-style: normal;
    font-weight: bold;
    /*border-top: 3px solid white;*/

}