.button{
    display: flex;
    margin-top: 20px;
    border-top: solid;
    border-top-color: #ffffff;
}

.button a{
    font-size: 30px;
    font-family: "Merriweather", serif;
    color: #080C71;
    background-color: #ffffff;
    padding: 15px 120px 15px 120px;
    border-radius: 15px;
    margin-top: 45px;
    text-decoration: none;
    list-style: none;

}