.menu ul{
    display: flex;
    margin-right: 35px;
    margin-top: 60px;
}

.menu li{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-family: "Merriweather", serif;
    margin-left: 55px;
    color: white;    
}