.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.title h2{
    font-size: 80px;
    color: #ffffff;
    line-height: 1;
    padding-bottom: 20.5px;
    padding-top: 18.5px;
    border-bottom: 3px solid #343434;
    border-top: 3px solid #343434;
}

.sottotitolo p{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    line-height: 1;
    font-weight: normal;
    justify-content: center;
    margin-top: 55.25px;
    font-family: "Hoefler Text",serif;
}




